/*
 * Fargepallett fra DNB: 
 * -----------------
 * DNB Green: 007272
 * DNB BLACK: 000000
 * DNB Orange #f47b20
 * -----------------
 */

::-webkit-scrollbar { 
    display: none; 
}


div#header {
    width: 100%;
    position: fixed;
    padding-top: 5px;
    display: fixed;
    background-color: #007272;
    color: #FFF; 
    font-size: 25px; 
    height: 60px;
    line-height: 60px;
    text-align: center;
    z-index: 100;
}

div#header-spacer {
    height: 60px;
}

section[data-type="state"] {
    display: none;
}

/*
 * LOGIN  
 */

section[data-state="login"] div#login_pin_entry {
    position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 0;
}

section[data-state="login"] div#login_pin_entry div.numpad-entry {
    text-align: center;
    font-size: 30px;
    padding: 5px;
}

section[data-state="login"] div#pinDisplay div.pin-digit {
    font-size: 50px;
    color: #0B5454;
    padding: 15px;
    text-align: center;
}

section[data-state="login"] div#pinDisplay div[data-type="enter-pin-text"] {
    text-align: center;
    margin-top: 60px;
    color: #818181;
}

section[data-state="login"] div#pinDisplay div[data-type="entry-error"] {
    text-align: center;
    display: none;
    color: #D9536F;
    margin: 10px;
}