<div id="ptr">
    ...
</div>
<div id="content">

    <div style="text-align: center;">
        <img src="./resources/images/icon.png" alt="App logo" style="width: 150px; height: 150px;">
    </div>

    <div>
        <div class="container-fluid">
        
            <div class="row" style="border: 1px solid #888B8D;">

                <div class="col-xs-6" style="text-align: center; font-size: 14px; padding: 20px; border-right: 1px solid #888B8D;">
                    
                    Dagsbudsjett<br>

                    <span id="daily-budget" style="font-size: 24px;">
                        250kr
                    </span>

                </div>
                <div class="col-xs-6" style="text-align: center; font-size: 14px; padding: 20px;">
                    Disponibelt Saldo<br> 

                    <span id="saldo" style="font-size: 24px;">
                        3244kr
                    </span>

                </div>

                <!-- end row --> 
            </div>

            <div class="row">

                <div class="col-xs-12">
                    
                    <div style="text-align: center; padding-top: 20px; padding-bottom: 10px; font-size: 14px;">
                        Gjenstående av dagsbudsjett
                    </div>
                    
                    <div style="text-align: center;">
                        <div class="circle" id="circle-daily-budget-remainder">
                        </div> 
                    </div>

            
                </div>
            </div>

            <div>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id officiis, ex quis, dolor fuga blanditiis iure. Hic nesciunt et ipsum sed nisi assumenda, incidunt, dolorem obcaecati, dolore adipisci, optio praesentium.
                </p>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id officiis, ex quis, dolor fuga blanditiis iure. Hic nesciunt et ipsum sed nisi assumenda, incidunt, dolorem obcaecati, dolore adipisci, optio praesentium.
                </p>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id officiis, ex quis, dolor fuga blanditiis iure. Hic nesciunt et ipsum sed nisi assumenda, incidunt, dolorem obcaecati, dolore adipisci, optio praesentium.
                </p>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id officiis, ex quis, dolor fuga blanditiis iure. Hic nesciunt et ipsum sed nisi assumenda, incidunt, dolorem obcaecati, dolore adipisci, optio praesentium.
                </p>
            </div>

        </div>
    </div>

    <!-- end content -->
</div>